.editWrap {
  border: 1px solid #cecece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 511px;
  height: 217px;
  padding: 21px 27px;
  box-sizing: border-box;
}

.editTitle {
  font-size: 15px;
  font-weight: 500;
}

.sliderWrapper {
  gap: 26px;
  margin-top: 45px;
  > div {
    &:first-child {
      width: 100%;
    }
    &:last-child {
      position: relative;
    }
  }
}

.sliderClass {
  //margin-top: 45px;
}

.sliderNumberUnit {
  position: absolute;
  color: #7e7e7e;
  font-size: 12px;
  top: -25px;
  right: 0;
}

.controller {
  position: relative;
  margin-top: 16px;
}

.positionSelect {
  position: absolute;
  left: 0;
  top: -5px;
  font-size: 14px;
  color: #4e4e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.enhance {
  background: #007676;
  padding: 2px 10px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 18px;
  font-size: 12px;
  > span {
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
  }
}

.fuelCellRadio {
  position: absolute;
  left: 30%;
}
