.wrap {
  position: relative;
}

.fuelCellRadio {
  position: absolute;
  top: 23px;
  left: 90px;
}

.positionSelect {
  position: absolute;
  bottom: 40px;
  left: 27px;
  gap: 8px;
  > span {
    margin-right: 10px;
  }
}

.editSlider {
  > div {
    height: 217px;
  }
}
