// EnergyBuildingDetail에서 사용하는 스타일 복사
.mandatoryGradeContainer {
  background: #ffffff;
  padding: 41px 35px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 0px 12px 12px 12px;

  .mandatoryGrade {
    border: 1px solid #cecece;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 42px 34px;
    box-sizing: border-box;
  }

  .mandatoryGradeHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    .icon {
      width: 24px;
      height: 24px;
    }
    .title {
      font-weight: 700;
      font-size: 24px;
      color: #444;
    }
  }

  .EnergyDetailTitle {
    padding-left: 42px;
    box-sizing: border-box;
  }

  .detailDescription {
    color: #7e7e7e;
    font-size: 14px;
    margin-top: 45px;
  }

  .energyDetailCollapse {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #cecece;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-top: 17px;
  }

  .collapseTitle {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    color: #4e4e4e;
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      font-size: 13px;
    }
  }
}
