.editWrap {
  border: 1px solid #cecece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 511px;
  height: 463px;
  padding: 21px 27px;
  box-sizing: border-box;
}

.editTitle {
  font-size: 15px;
  font-weight: 500;
}

.sliderWrapper {
  position: relative;
  gap: 26px;
  margin-top: 60px;
  > div {
    &:first-child {
      width: 100%;
    }
    &:last-child {
      position: relative;
    }
  }
}

.sliderClass {
  //margin-top: 45px;
}

.sliderNumberUnit {
  position: absolute;
  color: #7e7e7e;
  font-size: 12px;
  top: -25px;
  right: 0;
}

.typeTextWrapper {
  color: #ffffff;
  border-radius: 18px;
  font-size: 10px;
  padding: 0 8px;
  box-sizing: border-box;
}

.typeTextEfficiency {
  position: absolute;
  color: #2a4e51;
  background: #ffffff;
  border: 1px solid #2a4e51;
  top: 95%;
  left: 0;
}

.controller {
  margin-top: 8px;
}

.enhance {
  background: #007676;
  padding: 2px 10px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 18px;
  font-size: 12px;
  > span {
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
  }
}
