.standardModelPerformanceEdit{
  background: #FFFFFF;
  padding: 41px 35px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 0px 12px 12px 12px;
}

.standardModelPerformanceEditTitle{
  font-size: 24px;
  font-weight: bold;
  color: #4E4E4E;
}
.standardModelPerformanceEditContentWrapper{
  padding: 45px 0 0 38px;
  box-sizing: border-box;
}

.standardModelPerformanceEditSubtitle{
  font-size: 14px;
  line-height: 24px;
  color: #7E7E7E;
}