.editWrap {
  border: 1px solid #cecece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 511px;
  height: 463px;
  padding: 21px 27px;
  box-sizing: border-box;
}

.editTitle {
  font-size: 15px;
  font-weight: 500;
}

.editorSliderWrap {
  margin-left: -27px;
  > div {
    height: 130px;
  }
}

.fuelCellRadio {
  position: absolute;
  left: 15%;
}
