.editWrap {
  border: 1px solid #cecece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 511px;
  height: 217px;
  padding: 21px 27px;
  box-sizing: border-box;
}

.editTitle {
  font-size: 15px;
  font-weight: 500;
}

.fuelCellRadio {
  position: absolute;
  left: 33%;
}

.thGeoThermalText {
  text-align: right;
  color: #4e4e4e;
  padding-right: 8px;
  box-sizing: border-box;
  > div {
    color: #7e7e7e;
    font-weight: normal;
    font-size: 10px;
  }
}

.typeTextWrapper {
  color: #ffffff;
  border-radius: 18px;
  font-size: 10px;
  padding: 0 8px;
  box-sizing: border-box;
  width: 60px;
  text-align: center;
  margin: 0 auto;
}

.typeTextEfficiency {
  color: #2a4e51;
  background: #ffffff;
  border: 1px solid #2a4e51;
}
